<section class="bg-gray-50 dark:bg-gray-900 h-screen flex flex-col p-3 sm:p-5 antialiased">
    <div class="text-center mt-8 mx-auto max-w-screen-md">
        <p class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
            Bienvenidos a registro de usuarios.
        </p>
        <p class="text-xl text-gray-900 dark:text-white">
            Por favor seleccione la opción <span class="font-bold text-primary-600 dark:text-primary-500">Usuarios</span> para hacer el registro de ellos.
        </p>
    </div>
</section>
